@font-face {
  font-family: 'Cuisine';
  src: url('assets/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype')
}

body {
  background-color: #1d1d1d;
}

.title {
  text-align: center;
}

.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
}

p,
h1,
h2,
h3 {
  font-family: 'Cuisine';
  color: #fff;
}

.progress-ring {
  display: flex;
}

.searchbar {
  display: flex;
  position: absolute;
  top: 50vh;
}

#searchInput {
  border: none;
  outline: none;
  background-color: #333;
  border-radius: 5px 0 0 5px;
  font-family: 'Cuisine';
  color: white;
  font-size: 18px;
  padding: 10px;
  width: 40vw;
  min-width: 450px;
}

#searchButton {
  border: none;
  background-color: #333;
  padding: 5px 10px 5px 10px;
  border-radius: 0 5px 5px 0;
  outline: none;
  font-family: 'Cuisine';
}

